---
import { getPageTitle } from "../../lib/navigation.ts";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import MainLayout from "../../layouts/MainLauout/MainLayout.astro";

type BlogPost = CollectionEntry<"blog">;

const posts: BlogPost[] = await getCollection(
  "blog",
  ({ data }: BlogPost) => data.draft !== true && data.lang == "es",
);
---

<MainLayout title={getPageTitle(Astro.url.pathname)}>
  <div class="container mx-auto">
    <h1>Last Posts!</h1>
    {
      posts.map((post) => (
        <article class="mb-8">
          <h2 class="text-2xl font-semibold mb-2">
            <a href={`/blog/${post.slug}`} class="link">
              {post.data.title}
            </a>
          </h2>
          {post.data.description && <p>{post.data.description}</p>}
          <p class="text-gray-600 text-sm my-4">
            {post.data.date.toLocaleDateString("es-ES", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </p>
        </article>
      ))
    }
  </div>
</MainLayout>
