---
import { getPageTitle } from "../../lib/navigation.ts";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import MainLayout from "../../layouts/MainLayout/MainLayout.astro";
import CalendarIcon from "../../components/icons/CalendarIcon.astro";

type BlogPost = CollectionEntry<"blog">;

const posts: BlogPost[] = await getCollection(
  "blog",
  ({ data }: BlogPost) => data.draft !== true && data.lang == "es",
);

// Sort posts by date (most recent first)
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<MainLayout title={getPageTitle(Astro.url.pathname)}>
  <div class="container mx-auto">
    <h1>Last Posts!</h1>
    {
      posts.map((post) => (
        <article class="mb-8">
          <h2 class="text-2xl font-semibold mb-2">
            <a href={`/blog/${post.slug}`} class="link">
              {post.data.title}
            </a>
          </h2>
          {post.data.description && <p class="mb-2">{post.data.description}</p>}
          <p class="text-slate-500 dark:text-slate-400 text-sm">
            <span class="inline-flex items-center gap-1">
              <CalendarIcon class="h-4 w-4 flex-shrink-0" />
              <span class="pt-0.5">
                {post.data.date.toLocaleDateString("es-ES", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </span>
            </span>
          </p>
        </article>
      ))
    }
  </div>
</MainLayout>
