---
import "./hero.css";
---

<section class="container mx-auto">
  <div class="flex flex-col gap-6 sm:gap-8 md:gap-10 lg:gap-12 text-center">
    <!-- Title -->
    <div class="hero__title">
      <span class="text-red-400">Beta</span> permanente
    </div>
    <!-- Description -->
    <p class="hero__description">
      <span class="hero__description--medium">
        Comparto ideas y reflexiones sobre el impacto de la tecnología en el
        plano de lo humano, porque en un mundo donde
      </span>
      <span class="hero__description--emphasis"
        >las máquinas aprenden y las personas tan solo obedecen, <span
          class="text-red-400">pensar</span
        > se convierte en un acto de
        <span class="text-red-400">rebeldía</span><span
          class="hero__description--medium">.</span
        >
      </span>
    </p>
  </div>
</section>
