---
import { ClientRouter } from "astro:transitions";

import "@fontsource/inter";
import "../../styles/global.css";
import Header from "./components/Header/Header.astro";
import Footer from "./components/Footer/Footer.astro";

import type { Navigation } from "./components/Header/types";

export const navigationData: Navigation = {
  es: [
    { label: "Blog", href: "/blog" },
    { label: "Proyectos", href: "/proyectos" },
    { label: "Archivo", href: "/archivo" },
    { label: "Acerca de", href: "/acerca" },
  ],
};

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header navigation={navigationData} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
