---
import "@fontsource/inter";
import "../../styles/global.css";
import Header from "../../components/Header/Header.astro";

import type { Navigation } from "../../components/Header/types";

export const navigationData: Navigation = {
  es: [
    { label: "Blog", href: "/blog" },
    { label: "Proyectos", href: "/projects" },
    { label: "Sobre mí", href: "/about" },
  ],
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Beta Permanente</title>
  </head>
  <body>
    <Header navigation={navigationData} />
    <slot />
  </body>
</html>
