@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: "Inter", "sans-serif";
}

body {
  @apply px-4 min-h-dvh flex flex-col font-sans bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}
