@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "sans-serif";
}

body {
  @apply flex flex-col;
  @apply text-slate-500 dark:text-slate-400;
  @apply bg-white dark:bg-gray-900;
}

main {
  @apply py-20;
}

.container {
  @apply px-5 xl:px-15 2xl:px-30;
}

.link {
  /* @apply text-red-400 hover:text-red-500 hover:opacity-90 transition duration-200 ease-in-out; */
  @apply text-slate-600 dark:text-slate-300 hover:dark:text-red-400 hover:text-red-400 transition-colors duration-300;
}

h1 {
  @apply mb-4 text-4xl font-bold text-slate-600 dark:text-slate-300;
}

h2 {
  @apply mb-4 text-3xl font-bold text-slate-600 dark:text-slate-300;
}

h3 {
  @apply mb-4 text-2xl font-bold text-slate-600 dark:text-slate-300;
}

h4 {
  @apply mb-4 text-xl font-bold text-slate-600 dark:text-slate-300;
}
