@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'sans-serif';
}

body {
    @apply font-sans px-4 min-h-dvh flex flex-col;
}

header {
   @apply lg:w-full flex flex-col lg:flex-row lg:justify-between py-6 max-w-6xl px-4 lg:px-0 lg:mx-auto;


  .header__nav {
    @apply hidden w-full lg:flex lg:items-center lg:gap-8 lg:justify-end;
  }

  .header__logo {
    @apply whitespace-nowrap;
  }

  .header__nav-list {
    @apply flex flex-col lg:flex-row list-none m-0 p-0 gap-4 lg:gap-8 items-center;
  }

  .header__nav-item {
    @apply relative text-center space-y-4 lg:space-y-0;
  }
}
