@import "tailwindcss";
@import "@fontsource/inter";

@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "sans-serif";
}

body {
  @apply min-h-screen flex flex-col;
  @apply text-slate-500 dark:text-slate-400;
  @apply bg-white dark:bg-gray-900;
}

main {
  @apply py-20;
}

.container {
  @apply px-5 xl:px-15 2xl:px-30;
}

.link {
  @apply text-slate-600 dark:text-slate-300 hover:text-red-400 dark:hover:text-red-400 no-underline transition-colors duration-300;
}

/* Apply link styles to prose content */
.prose a {
  @apply text-red-400 dark:text-red-400 underline decoration-transparent hover:decoration-red-400 decoration-1 underline-offset-4 transition-all duration-300;
}

/* Apply styles for bold and italic in prose */
.prose strong {
  @apply text-slate-600 dark:text-slate-300;
}

.prose em {
  @apply italic;
}

.prose p {
  @apply text-base md:text-lg;
}

h1 {
  @apply mb-4 text-4xl font-bold text-slate-600 dark:text-slate-300;
}

h2 {
  @apply mb-4 text-3xl font-bold text-slate-600 dark:text-slate-300;
}

h3 {
  @apply mb-4 text-2xl font-bold text-slate-600 dark:text-slate-300;
}

h4 {
  @apply mb-4 text-xl font-bold text-slate-600 dark:text-slate-300;
}
