---

---

<footer class="py-10 bg-slate-100 dark:bg-gray-800 dark:text-slate-400">
  <div class="container mx-auto flex flex-col">
    {/* copyright */}
    <div class="flex justify-center">
      <a href="https://betapermanente.dev"
        >Todo el contenido de <spam class="text-red-400 font-bold">Beta</spam>
        <spam class="text-slate-400">Permanente</spam> queda bajo licencia</a
      >
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        class="px-1 font-bold">CC BY-NC-SA 4.0</a
      >
      <div class="inline-flex items-center">
        <img
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
          alt=""
          style="max-width: 1em;max-height:1em;margin-left: .2em;"
        /><img
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
          alt=""
          style="max-width: 1em;max-height:1em;margin-left: .2em;"
        /><img
          src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
          alt=""
          style="max-width: 1em;max-height:1em;margin-left: .2em;"
        /><img
          src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
          alt=""
          style="max-width: 1em;max-height:1em;margin-left: .2em;"
        />
      </div>
    </div>
  </div>
</footer>
