---
import MainLayout from "../layouts/MainLauout/MainLayout.astro";
---

<MainLayout>
  <container>
    <h1 class="text-4xl font-bold mb-4">About Page</h1>
    <p class="text-lg">
      This is your starter project. You can start editing it by modifying <code
        >src/pages/index.astro</code
      >.
    </p>
  </container>
</MainLayout>
