---
import { getPageTitle } from "../lib/navigation.ts";

import MainLayout from "../layouts/MainLayout/MainLayout.astro";
---

<MainLayout title={getPageTitle(Astro.url.pathname)}>
  <div class="container mx-auto">
    <h1>Página de archivo</h1>
    <p class="text-lg">
      This is your starter project. You can start editing it by modifying <code
        >src/pages/index.astro</code
      >.
    </p>
  </div>
</MainLayout>
