---
import MainLayout from "../layouts/MainLauout/MainLayout.astro";
---

<MainLayout>
  <section class="container mx-auto">
    <div class="text-center">
      <div
        class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl text-slate-600 dark:text-slate-400"
      >
        Experimentando sobre el <span class="text-red-400">aprendizaje</span> continuo
      </div>
      <p class="mt-12 text-lg font-medium text-pretty sm:text-xl/8">
        <spam class="font-semibold text-slate-500 dark:text-slate-200">
          Aprender no es alcanzar una meta, sino seguir en movimiento,
          manteniendo vivo el proceso.
        </spam>
        Aquí comparto <span class="font-semibold">ideas</span>,
        <span class="font-semibold">proyectos</span> y
        <span class="font-semibold">experiencias</span> sobre
        <span class="font-semibold">desarrollo de software</span>,
        <span class="font-semibold">GNU/Linux</span>,
        <span class="font-semibold">IA</span>,
        <span class="font-semibold">hardware</span> y filosofía
        <span class="font-semibold">open source</span>. La <span
          class="font-medium text-slate-500 dark:text-slate-200"
          >tecnología</span
        >, la
        <span class="font-medium text-slate-500 dark:text-slate-200"
          >curiosidad</span
        > y el
        <span class="font-medium text-slate-500 dark:text-slate-200"
          >pensamiento crítico</span
        >
        se encuentran en este espacio para explorar cómo aprendemos, creamos y evolucionamos,
        siempre en modo <span class="font-semibold text-red-400">beta</span> permanente.
      </p>
    </div>
  </section>
</MainLayout>
