---
import MainLayout from "../layouts/MainLauout/MainLayout.astro";
---

<MainLayout>
  <container class="p-5 gap-5 px-4 w-full lg:max-w-6xl lg:mx-auto">
    <h1 class="text-4xl font-bold mb-4">Bienvenido a Beta Permanante!</h1>
    <p class="text-lg">
      El blog personal de Antonio José Masiá, un espacio para explorar el mundo
      de la tecnología, el software libre y la cultura digital desde una mirada
      curiosa y humana. Aquí todo está en evolución: las ideas, los proyectos y
      las versiones de uno mismo. Porque vivir en beta es aceptar que siempre
      hay algo nuevo por descubrir.
    </p>
  </container>
</MainLayout>
