---
import MainLayout from "../layouts/MainLauout/MainLayout.astro";
---

<MainLayout title="Beta Permanente: Proyectos">
  <div class="container mx-auto">
    <h1>Mis Proyectos</h1>
    <p class="text-lg">
      This is your starter project. You can start editing it by modifying <code
        >src/pages/index.astro</code
      >.
    </p>
  </div>
</MainLayout>
