---
import type { Navigation } from "./types";

interface Props {
  navigation: Navigation;
}

const { navigation } = Astro.props;
---

<nav class="md:hidden">
  <button id="menu-toggle" class="relative group" aria-expanded="false">
    <div
      class="relative flex overflow-hidden items-center justify-center rounded-full w-[36px] h-[36px] transform transition-all bg-slate-700 ring-0 ring-gray-300 hover:ring-6 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md"
    >
      <div
        id="menu-icon"
        class="flex flex-col justify-between w-[16px] h-[16px] transition-all duration-300 origin-center overflow-hidden"
      >
        <div
          class="menu-line-1 bg-white h-[2px] w-6 transition-all duration-300 origin-left"
        >
        </div>
        <div
          class="menu-line-2 bg-white h-[2px] w-6 rounded transition-all duration-300"
        >
        </div>
        <div
          class="menu-line-3 bg-white h-[2px] w-6 transition-all duration-300 origin-left"
        >
        </div>
      </div>
    </div>
  </button>
  <ul
    id="mobile-nav"
    class="absolute left-0 top-16 w-full bg-white shadow-lg z-50 flex flex-col gap-4 px-6 py-8 transition-opacity duration-300 opacity-0 pointer-events-none"
  >
    {
      navigation.es.map((item) => (
        <li>
          <a href={item.href} class="block text-lg font-semibold text-gray-800">
            {item.label}
          </a>
        </li>
      ))
    }
    <!-- TODO: theme switcher -->
    <!-- TODO: lang switcher -->
  </ul>
</nav>

<script>
  let active: boolean = false;

  const btn = document.getElementById("menu-toggle");

  const line1 = document.querySelector(".menu-line-1");
  const line2 = document.querySelector(".menu-line-2");
  const line3 = document.querySelector(".menu-line-3");

  const mobileNav = document.getElementById("mobile-nav");

  function toggleMobileNav(show: boolean) {
    if (mobileNav) {
      // mobileNav.style.display = show ? "flex" : "none";
      mobileNav.classList.toggle("opacity-100", show);
      mobileNav.classList.toggle("pointer-events-auto", show);
      mobileNav.classList.toggle("opacity-0", !show);
      mobileNav.classList.toggle("pointer-events-none", !show);
    }
  }

  function setActive(state: boolean) {
    active = state;

    if (btn) btn.setAttribute("aria-expanded", active ? "true" : "false");

    if (line1 && line2 && line3) {
      line1.classList.toggle("rotate-[42deg]", active);
      line1.classList.toggle("w-2/3", active);

      line2.classList.toggle("opacity-0", active); // Oculta la línea central
      line2.classList.toggle("scale-x-0", active); // Alternativamente, puedes usar esto

      line3.classList.toggle("-rotate-[42deg]", active);
      line3.classList.toggle("w-2/3", active);
    }

    toggleMobileNav(active);
  }

  if (btn) {
    btn.addEventListener("click", () => setActive(!active));
    btn.addEventListener("blur", () => setActive(false));
  }

  document.addEventListener("click", (e: MouseEvent) => {
    if (!btn || !active) return;
    if (!(e.target instanceof Node)) return;
    if (!btn.contains(e.target)) {
      setActive(false);
    }
  });
</script>
