---
import type { Navigation } from "./types";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

interface Props {
  navigation: Navigation;
}

const { navigation } = Astro.props;
---

<header class="lg:flex p-5 gap-5 px-4">
  <Astronav>
    <div class="flex w-full justify-between h-16">
      <div class="flex items-center"><a href="/">BetaPermamte</a></div>
      <div class="self-center block lg:hidden pt-1">
        <MenuIcon class="w-6 h-6 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul
        class="flex flex-col lg:flex-row lg:gap-4 whitespace-nowrap lg:items-center"
      >
        {
          navigation.es.map((item) => (
            <li class="">
              <a href={item.href}>{item.label}</a>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
