---
interface NavItem {
  label: string;
  href: string;
  children?: NavItem[];
}

export interface Navigation {
  es: NavItem[];
  en?: NavItem[];
}

interface Props {
  navigation: Navigation;
}

const { navigation } = Astro.props;
---

<header>
  <div class="header__logo"><a href="/">Beta Permanente</a></div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      {
        navigation.es.map((item) => (
          <li class="header__nav-item">
            <a href={item.href}>{item.label}</a>
          </li>
        ))
      }
      <!-- TODO: Theme switcher -->
      <!-- TODO: Lang switcher -->
    </ul>
  </nav>
</header>
