---
import { navigationData } from "../config/navigation";
---

<header>
  <div class="header__logo"><a href="/">Beta Permanente</a></div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      {
        navigationData.es.map((item) => (
          <li class="header__nav-item">
            <a href={item.href}>{item.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
