---

---

<section class="container mx-auto">
  <div class="flex flex-col gap-6 sm:gap-8 md:gap-10 lg:gap-12 text-center">
    <!-- Title -->
    <div
      class="font-semibold tracking-tight text-balance text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-slate-600 dark:text-slate-400"
    >
      <span class="text-red-400">Beta</span> permanente
    </div>
    <!-- Description -->
    <p class="sm:text-xl/8 xl:px-10 text-balance">
      <span class="font-medium text-slate-500 dark:text-slate-400">
        Comparto ideas y reflexiones sobre el impacto de la tecnología en el
        plano de lo humano, porque en un mundo donde
      </span>
      <span class="font-semibold italic text-slate-500 dark:text-slate-200">
        las máquinas aprenden y las personas tan solo obedecen, <span
          class="text-red-400">pensar</span
        > se convierte en un acto de
        <span class="text-red-400">rebeldía</span><span
          class="hero__description--medium">.</span
        >
      </span>
    </p>
  </div>
</section>
