---
import type { CollectionEntry } from "astro:content";
import RightArrow from "./icons/RightArrow.astro";
import Card from "./Card.astro";

type BlogPost = CollectionEntry<"blog">;

interface Props {
  latestPosts: BlogPost[];
  showImages?: boolean;
}

const { latestPosts, showImages = true } = Astro.props;
---

<section class="container mx-auto mt-20">
  <div class="text-center mb-8">
    <h2>Últimas Publicaciones</h2>
    <a href="/blog" class="link text-sm inline-flex items-center gap-1">
      Ver todas
      <RightArrow class="w-3 h-3" />
    </a>
  </div>

  <div
    class:list={[
      "grid gap-8",
      {
        "grid-cols-1": latestPosts.length === 1,
        "grid-cols-1 lg:grid-cols-2": latestPosts.length === 2,
        "grid-cols-1 lg:grid-cols-2 xl:grid-cols-3": latestPosts.length >= 3,
      },
    ]}
  >
    {
      latestPosts.map((post, index) => (
        <Card
          post={post}
          variant="vertical"
          showImage={showImages}
          linkTags={false}
          headingLevel="h3"
          class:list={[
            {
              "lg:hidden xl:block": index === 2 && latestPosts.length === 3,
              "xl:hidden": index === 3 && latestPosts.length >= 4,
            },
          ]}
        />
      ))
    }
  </div>
</section>
