---
import EyeIcon from "./icons/EyeIcon.astro";

interface Props {
  path: string;
}

const { path } = Astro.props;
const GOATCOUNTER_SITE = "betapermanente";
---

<span class="inline-flex items-center gap-1">
  <EyeIcon class="h-4 w-4 flex-shrink-0" />
  <span>
    <img
      src={`https://${GOATCOUNTER_SITE}.goatcounter.com/counter/${encodeURIComponent(path)}.svg`}
      alt="visitas"
      style="height: 1em; vertical-align: text-bottom; display: inline;"
    />
  </span>
</span>
