---

---

<div
  class="prose
  max-w-none
  dark:prose-invert
  prose-h1:font-bold prose-h1:text-4xl
  prose-h2:font-bold prose-h2:text-3xl
  prose-h3:font-bold prose-h3:text-2xl
  prose-h4:font-normal prose-h4:text-xl
  prose-a:text-blue-600"
>
  <slot />
</div>
