---

---

<footer class="py-10 bg-slate-100 dark:bg-gray-800 dark:text-slate-400">
  <div class="container mx-auto flex flex-col px-20">
    {/* copyright */}
    <div class="flex flex-wrap justify-center break-words text-center">
      <span class="px-1">Todo el contenido de</span>
      <a href="https://betapermanente.dev" class="link px-1">Beta permanente</a>
      <span class="px-1">queda bajo licencia</span>
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        class="link px-1"
      >
        Creative Commons BY-NC-SA 4.0
      </a>
    </div>
  </div>
</footer>
