---
import "./styles.css";

import type { Navigation } from "./types";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

interface Props {
  navigation: Navigation;
}

const { navigation } = Astro.props;
---

<header transition:animate="none" class="container mx-auto lg:flex">
  <Astronav>
    <div class="flex w-full justify-between h-16">
      <div class="flex items-center">
        <a href="/" class="flex items-center space-x-2">
          <!-- Icono Open Source -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            viewBox="0 0 16 16"
            class="w-10 h-10 text-slate-300 fill-slate-300 stroke-slate-400 dark:fill-slate-400 dark:stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              d="m10.69 14.99-1.5-4.79A2.51 2.51 0 0 0 10.5 8a2.5 2.5 0 0 0-5 0c0 .95.53 1.77 1.31 2.2l-1.5 4.79A7.483 7.483 0 0 1 .5 8C.5 3.86 3.86.5 8 .5s7.5 3.36 7.5 7.5c0 3.19-2 5.92-4.81 6.99z"
            ></path>
          </svg>
          <!-- Texto del logo -->
          <div class="flex flex-col">
            <span class="text-2xl font-bold text-red-400 h-5.5"> beta </span>
            <span class="text-md text-slate-400">permanente</span>
          </div>
        </a>
      </div>
      <div class="self-center block lg:hidden pt-1">
        <button id="astronav-menu" aria-label="Toggle Menu">
          <slot>
            <svg
              fill="currentColor"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="transition-all duration-300 ease-in-out"
            >
              <path
                class="astronav-close-icon astronav-toggle hidden"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"
              ></path>
              <path
                class="astronav-open-icon astronav-toggle"
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"
              ></path>
            </svg>
          </slot>
        </button>
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul
        class="flex flex-col whitespace-nowrap lg:flex-row lg:gap-4 lg:items-center"
      >
        <!-- class="flex flex-col lg:flex-row lg:gap-4 whitespace-nowrap lg:items-center" -->
        {
          navigation.es.map((item) => {
            const isActive =
              Astro.url.pathname === item.href ||
              (item.href !== "/" && Astro.url.pathname.startsWith(item.href));

            return (
              <li>
                <a
                  href={item.href}
                  class={`transition-colors ${
                    isActive
                      ? "text-red-400 font-semibold transition-colors duration-300"
                      : "text-slate-400 hover:dark:text-slate-200 hover:text-slate-600 transition-colors duration-300"
                  }`}
                >
                  {item.label}
                </a>
              </li>
            );
          })
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
